<div class="container">
  <div class="row">
    <div class="col">
      <h1><%= @context.title %></h1>
      <% if @context.image.present? %>
      <%= image_tag(@context.image.variant(resize_to_limit: [400, 400]).processed, alt: @context.title) %>
      <% end %>
    </div>
    <div class="col">
      <h1>About <%= @context.title %></h1>
      <p><%= @context.about %></p>
    </div>
  </div>
</div>