<div id="intro" class="p-5 text-center">
    <h1 class="mb-0">Welcome to <%= @context.title %>!</h1>
    <p><%= @context.home %></p>
</div>

<div class="container">
  <h2 class="p-5 text-center">Top 10 Products</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4">

    <%= render @products %>

  </div>
</div>