<div id="intro" class="p-5 text-center">
  <h1 class="mb-0">Products</h1>
</div>

<%= paginate @products %>

<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">

  <% @products.each do |product| %>
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title"><%= link_to product.name, product %></h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">In Stock: <%= product.stock %></li>
      </ul>
    </div>
  <% end %>

  </div>
</div>